<a href="https://colab.research.google.com/github/angelmarievo/mysterydata/blob/main/Angel_Vo_Analytics_Manager_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Demystifiying Mystery Data**
Creator: Angel Vo

Date Started: December 5, 2021

*Purpose: This interactive Python notebook includes a log of detailed strategies, possible solutions, and approaches considered.*

## Table of Contents
1. First Observations
2. The Variables
3. Initial Approaches & Ideas
4. Machine Learning Algorithms to Implement (Predictive Models)
5. Metrics to Note (Ongoing Idea Log)
6. Visualization Ideas: Featured Plots
7. Key Questions
---
## Code Organization
1. Data Exploration
2. Data Cleaning
3. Data Modeling
4. Model Evaluation

---
# **First Observations**
*16,000 rows x 15 columns*

All variables are "objects" (text strings) except for...

* LineNumber                (integer)
* LineRequestedQuantity     (integer)
* LineShippedQuantity       (integer)

**2 Columns with Missing Values:**

  - "To Intended Use For Loc" contains 29 null values

  - "To Region" contains 310 null values

The missing entries all have "CAPITAL" for the "To Intended Use from Loc" column

Differing To's and From's

Missing Data has value WHEN and IF there is a pattern!

Patterns from missing data reveal information.

How to find a pattern from something that isn't there? Explain how and why.

# **The Variables**

Move Order Number          
From Intended Use For Loc       
To Intended Use For Loc        
From Warehouse              
From Location              
From Region                  
To Warehouse               
TO Location                
To Region                   
Line Number                
Line GPN                  
Line Requested Quantity    
Line Shipped Quantity       
First Shipment Date        
Shipment Delivery UTC

# **Initial Approaches & Ideas**    

##Possible End-to-End Solutions:##
- Build Machine Learning Model to Save Time
- Create Database Schema Proposal to Optimize Data Storage
- Present Strategies for Optimizing Data Accuracy

##Launching Points:##
- Find relationships between each factor
- Group possibly related factors
- Regex matching entries between columns (To-From)
- Break related rows into tables (database)
- Create SQL queries to extract and filter data
- Explain rationale/logic for grouping factors together
- Convert time variables to increments or chunks
- Create a time series analysis graph
- Demonstrate change over time of each region
- Pin-point when exactly ending deliveries started failing for each region
- Show which regions/warehouses/locations are the most productive

##Ways to Quantify Productivity##
- The least amount of time between initial shipment and delivery
- The most matching (correlated) data show stronger relationships
- Most identified matches between line requested & actual shipments

---

# **Machine Learning Algorithms to Implement (Predictive Models)**
###K Means (Clustering Analysis)###
- Mini Batch K-Means (additional Clustering Algorithm alternative)
- Rationale/Why?: This is sizeable dataset with a great number of categories known, which means we could accurately predict statistical relatedness between variables and evaluate the accuracy.


###Agglomerative Clustering
- Rationale/Why? Can also scale to large number of samples when it is used jointly with a connectivity matrix

###Time Series Prediction

- Rationale/Why? We can predict how long each facility takes to complete an order with a time series prediction.

- Actionable Insights:
 1. By looking at the flow of deliveries over time, we can find out figure out when productivity slows down [around what month(s), finding a pattern or seasonality]
 2. Business Context: Discovering Areas of Organizational Lag

- **Translation to Stakeholders**:
Determinining areas for improvement/growth
increasing supervisor-to-employee ratio?
Opening further discussion for maximizing time
Finding when deliveries are the most on time
Comparison of Projected Delivery Time vs. Actual

---

# **Metrics to Note (Ongoing Idea Log)**
Service Level Agreements (SLAs)
1. Service Availability - amount of time service is available for use (time slot)
2. Error Rates - percentages in significant variables (production failures, missed deliveries)
3. KPIs for third-party logistics (3PL)

# **Visualization Ideas: Featured Plots**
- Bar charts to compare between categorical variables
- Time Series to Show Delivery Flow Over Time
- Multivariate Time Series: These are datasets where two or more variables are observed at each time.

# **Key Questions**

*Why are there more initial shipment records than shipment delivery records?*

*What is the average difference between each initial shipment time and destination delivery time?*

*Which regions are at high risk (due to missing entries?)?*

---

# *Data Exploration*

Objective: Performing Initial Exploratory Data Analysis

Refinining Columns/Dimensions in More Detail

- Line Requested Quantity = Numerical, Scalar

- Line Shipped Quantity = Numerical, Scalar

- Line Number = ???

In [ ]:
# Import libraries
import numpy as np
import pandas as pd

In [ ]:
# Create dataframe from the .xlsx file given
dataframe = pd.read_excel("Sample Data 2021-03-18.xlsx", header=0)
dataframe

          MoveOrderNumber  ...  ShipmentDeliveryUTC
0      CMORSC3890830947.1  ...  2016-06-15 07:32:00
1         MORSC3785562221  ...  2016-08-15 07:24:00
2         MORSC8709658631  ...  2016-09-16 07:32:00
3         MORSC3890862059  ...  2016-06-15 07:32:00
4         MORSC3890961529  ...  2016-06-27 08:22:00
...                   ...  ...                  ...
15995     MORSC3785440869  ...  2016-08-01 13:15:00
15996     MORSC8748918259  ...  2016-12-13 21:57:00
15997     MORSC8708998267  ...  2016-09-13 17:24:00
15998     MORSC8710155299  ...  2016-09-19 13:54:00
15999     MORSC8708998267  ...  2016-09-13 17:24:00

[16000 rows x 15 columns]

In [ ]:
# Return data type for each column
dataframe.dtypes

MoveOrderNumber          object
FromIntendedUseForLoc    object
ToIntendedUseForLoc      object
FromWarehouse            object
FromLocation             object
FromRegion               object
ToWarehouse              object
TOLocation               object
ToRegion                 object
LineNumber                int64
LineGPN                  object
LineRequestedQuantity     int64
LineShippedQuantity       int64
FirstShipmentDate        object
ShipmentDeliveryUTC      object
dtype: object

In [ ]:
# Display the number of rows and columns
print('\nShape of dataset :', dataframe.shape)

Shape of dataset : (16000, 15)

In [ ]:
# Return a count of columns with missing values (2 in total)
dataframe.isnull().any().sum()

# "ToIntendedUseForLoc" contains 29 null values
# "To Region" contains 310 null values
dataframe.isnull().sum()

MoveOrderNumber            0
FromIntendedUseForLoc      0
ToIntendedUseForLoc       29
FromWarehouse              0
FromLocation               0
FromRegion                 0
ToWarehouse                0
TOLocation                 0
ToRegion                 310
LineNumber                 0
LineGPN                    0
LineRequestedQuantity      0
LineShippedQuantity        0
FirstShipmentDate          0
ShipmentDeliveryUTC        0
dtype: int64

In [ ]:
# Return first 20 rows from "ToIntendedUseForLoc"
dataframe['ToIntendedUseForLoc'].head(21)

0             MRB
1             MRB
2     FIXED ASSET
3             MRB
4             MRB
5             MRB
6             MRB
7             MRB
8       CORPORATE
9       CORPORATE
10      CORPORATE
11        CAPITAL
12        CAPITAL
13        CAPITAL
14        CAPITAL
15        CAPITAL
16        CAPITAL
17        CAPITAL
18        CAPITAL
19        CAPITAL
20        CAPITAL
Name: ToIntendedUseForLoc, dtype: object

In [ ]:
# Return first 20 rows from "ToRegion"
dataframe['ToRegion'].head(21)

0     Central EMEA
1     Central EMEA
2     Central EMEA
3     Central EMEA
4     Central EMEA
5     Central EMEA
6     Central EMEA
7     Central EMEA
8     Central EMEA
9     Central EMEA
10    Central EMEA
11    Central EMEA
12    Central EMEA
13    Central EMEA
14    Central EMEA
15    Central EMEA
16    Central EMEA
17    Central EMEA
18    Central EMEA
19    Central EMEA
20    Central EMEA
Name: ToRegion, dtype: object

In [ ]:
# Create a dataframe that stores all rows with missing values
# Use .any() function to return "True" counts from every row matching null
# Filter with Boolean indexing using .isnull()
null_data = dataframe[dataframe.isnull().values.any(axis=1)]
null_data

       MoveOrderNumber  ...  ShipmentDeliveryUTC
2415   MORSC8706819247  ...  2016-08-25 15:29:00
2416   MORSC3890874143  ...  2016-06-16 13:52:00
2417   MORSC8707612388  ...  2016-08-30 20:35:00
4553   MORSC1778073394  ...  2016-10-17 17:53:00
7270   MORSC8737461144  ...  2016-11-18 15:08:00
...                ...  ...                  ...
15273  MORSC3890873196  ...  2016-06-27 14:00:00
15274  MORSC8708344234  ...  2016-09-08 10:15:00
15275  MORSC3890873196  ...  2016-06-27 14:00:00
15276  MORSC3890873196  ...  2016-06-27 14:00:00
15277  MORSC3890873196  ...  2016-06-27 14:00:00

[320 rows x 15 columns]

In [ ]:
# Returns count of missing values of “ToIntendedUseForLoc” column by group (“ToRegion”)
null_data.groupby(['ToRegion'])['ToIntendedUseForLoc'].apply(lambda x: x.isnull().sum())

ToRegion
US Central      8
US Northeast    2
Name: ToIntendedUseForLoc, dtype: int64

In [ ]:
# Returns the unique values from the column "ToIntendedUseForLoc" 
null_data.ToIntendedUseForLoc.unique()

array([nan, 'CAPITAL'], dtype=object)

In [ ]:
# Return a table with counts of unique inputs for every column
# Logic: Getting more context to identify related variables
uniqueValues = dataframe.nunique()
uniqueValues

MoveOrderNumber          9630
FromIntendedUseForLoc       8
ToIntendedUseForLoc        11
FromWarehouse              66
FromLocation              185
FromRegion                  7
ToWarehouse               445
TOLocation                625
ToRegion                   10
LineNumber                115
LineGPN                  3972
LineRequestedQuantity     432
LineShippedQuantity       432
FirstShipmentDate        9035
ShipmentDeliveryUTC      5018
dtype: int64

In [ ]:
# Return unique values for features with the LEAST number of possible categories
fromRegion_Categories = dataframe['FromRegion'].unique()
fromRegionCategories

array(['Central EMEA', 'West EMEA', 'US Southeast', 'US Central',
       'US West', 'East EMEA', 'PRC'], dtype=object)

In [ ]:
fromIntendedUseForLoc_Categories = dataframe['FromIntendedUseForLoc'].unique()
fromIntendedUseForLoc_Categories

array(['FIXED ASSET', 'CORPORATE', 'CAPITAL', 'R&D', 'REPAIRS & MAINT',
       'MRB', 'OPERATIONS', 'SALE'], dtype=object)

In [ ]:
toRegion_Categories = dataframe['ToRegion'].unique()
toRegion_Categories

array(['Central EMEA', 'West EMEA', 'East EMEA', 'US Central', 'US West',
       'US Southeast', 'US SouthEast', 'US Northeast', 'US NorthEast',
       'PRC', nan], dtype=object)

In [ ]:
# Use for loop to return all categories from each column
for col in dataframe:
    print(dataframe[col].unique())

['CMORSC3890830947.1' 'MORSC3785562221' 'MORSC8709658631' ...
 'MORSC8748918259' 'MORSC8708998267' 'MORSC8710155299']
['FIXED ASSET' 'CORPORATE' 'CAPITAL' 'R&D' 'REPAIRS & MAINT' 'MRB'
 'OPERATIONS' 'SALE']
['MRB' 'FIXED ASSET' 'CORPORATE' 'CAPITAL' 'UNIVERSAL' 'REPAIRS & MAINT'
 'R&D' 'RMA' nan 'TESTING' 'ONETIME' 'OPERATIONS']
['FACHCO' 'FAHUBUA' 'FAITSEA' 'FANLAMA' 'FAUKLPA' 'WHBEGH' 'WHGALS'
 'WHIACB' 'WHIASL' 'WHNCLN' 'WHNLAMS' 'WHOKPC' 'CMCLCAO' 'FAASVICB'
 'FACHZUCB' 'FACNONCB' 'FADEBECB' 'FADNCOCB' 'FAFRPACB' 'FAGBLNCB'
 'FAITMICB' 'FAJOAMCB' 'FANLAMCB' 'FAPOWSCB' 'FASPMACB' 'FATKIS'
 'FAUSCACB' 'GOGBLNAE' 'GOGBLNCY' 'WHCAFR1' 'WHCAFRE' 'WHCAFRE-WMS'
 'WHCODE1' 'WHDERA1' 'WHFIHEL' 'WHGAOAK' 'WHGASDE' 'WHGASKY' 'WHGASKY-WMS'
 'WHIEDU3' 'WHMOKCA' 'WHNCCH1' 'WHNCRDU' 'WHNLDGL' 'WHNLEEM' 'WHNLGR1'
 'WHNLGR2' 'WHNLGRQ' 'WHNLWES' 'WHORDAL' 'WHSCCHS' 'WHTNBNA' 'WHTXAUA'
 'WHVAST2' 'CMQTCNSH' 'DCNLEEM' 'FACNONCBS' 'FAUSCACBS' 'GOCAMTVCB'
 'RTQTCNSH' 'WHCAMIR' 'WHILCRL' 'WHINPLF' 'WHNLTIL' 'WHUTREB' 'GOCAMVCBST']
['FACHCOA' 'FAHUBUA' 'FAITSEA' 'FANLAMA' 'FAUKLPA' 'WHBEGHO' 'WHBEGHP'
 'WHGALSO' 'WHGALSP' 'WHGALSZ' 'WHIACBO' 'WHIACBP' 'WHIASLE' 'WHIASLP'
 'WHNCLNP' 'WHNLAMA' 'WHOKPCO' 'WHOKPCP' 'WHOKPCQ' 'CMCLCAOF' 'FAASVICB'
 'FACHZUCB' 'FACNONCB' 'FADEBECB' 'FADNCOCB' 'FAFRPACB' 'FAGBLNCB'
 'FAITMICB' 'FAJOAMCB' 'FANLAMCB' 'FAPOWSCB' 'FASPMACB' 'FATKISCB'
 'FAUSCACB' 'GOGBLNAE' 'GOGBLNCY' 'WHBEGHAF' 'WHBEGHCF' 'WHBEGHCY'
 'WHBEGHDC' 'WHBEGHPD' 'WHBEGHPM' 'WHBEGHSC' 'WHCAFR1F' 'WHCAFRAE'
 'WHCAFRCB' 'WHCAFREA' 'WHCAFREE' 'WHCAFREF' 'WHCAFREI' 'WHCAFREN'
 'WHCAFREO' 'WHCAFREP' 'WHCAFREQ' 'WHCAFREW' 'WHCAFREZ' 'WHCODE1N'
 'WHDERA1P' 'WHFIHELO' 'WHFIHELP' 'WHFIHELW' 'WHGALSDC' 'WHGALSPX'
 'WHGAOAKP' 'WHGASDEF' 'WHGASKYN' 'WHGASKYO' 'WHGASKYP' 'WHGASKYW'
 'WHGASKYZ' 'WHIACBDC' 'WHIACBPM' 'WHIACBSC' 'WHIASLDC' 'WHIASLPM'
 'WHIASLSC' 'WHIEDU3O' 'WHIEDU3P' 'WHIEDU3Q' 'WHIEDU3W' 'WHIEDU3Z'
 'WHMOKCAF' 'WHNCCH1F' 'WHNCLNCF' 'WHNCLNDC' 'WHNCLNPM' 'WHNCLNSC'
 'WHNCRDUF' 'WHNLAMAM' 'WHNLAMAS' 'WHNLAMCB' 'WHNLAMSN' 'WHNLAMSO'
 'WHNLAMSP' 'WHNLAMSW' 'WHNLAMSZ' 'WHNLDGLP' 'WHNLEEMO' 'WHNLEEMP'
 'WHNLGR1P' 'WHNLGR2O' 'WHNLGR2P' 'WHNLGR2Z' 'WHNLGRQZ' 'WHNLWESP'
 'WHOKPCDC' 'WHOKPCPM' 'WHOKPCSC' 'WHORDALO' 'WHORDALP' 'WHORDALQ'
 'WHSCCHSP' 'WHTNBNAF' 'WHTXAUAF' 'WHVAST2O' 'WHVAST2P' 'CMQTCNSHP'
 'DCNLEEMPD' 'FACNONCBS' 'FAUSCACBS' 'GOCAMTVCB' 'RTQTCNSHP' 'WHCAFRCBM'
 'WHCAFRCBS' 'WHCAFREAS' 'WHCAFREPM' 'WHCAMIR2A' 'WHCAMIR3A' 'WHFIHELDC'
 'WHFIHELPD' 'WHFIHELPM' 'WHFIHELSC' 'WHGASKYDC' 'WHGASKYEN' 'WHGASKYNM'
 'WHGASKYPM' 'WHGASKYPX' 'WHGASKYRK' 'WHGASKYSC' 'WHIEDU3DC' 'WHIEDU3PD'
 'WHIEDU3PM' 'WHIEDU3SC' 'WHILCRL3A' 'WHILCRLAM' 'WHINPLF3A' 'WHMOKCAFB'
 'WHMOKCAFM' 'WHNCRDUFB' 'WHNLAMCBS' 'WHNLAMCBT' 'WHNLAMSAF' 'WHNLAMSCF'
 'WHNLAMSDC' 'WHNLAMSNM' 'WHNLAMSPM' 'WHNLAMSPX' 'WHNLAMSRK' 'WHNLAMSSC'
 'WHNLAMSZT' 'WHNLEEMPD' 'WHNLEEMPM' 'WHNLEEMSC' 'WHNLGR1DC' 'WHNLGR1PM'
 'WHNLGR2DC' 'WHNLGR2PM' 'WHNLGR2SC' 'WHNLTIL3A' 'WHORDALDC' 'WHORDALPD'
 'WHORDALPM' 'WHORDALSC' 'WHSCCHSDC' 'WHSCCHSPM' 'WHSCCHSSC' 'WHTXAUAFB'
 'WHTXAUAFM' 'WHTXAUAFQ' 'WHUTREBFM' 'WHUTREBFQ' 'WHUTREBRK' 'GOCAMVCBST'
 'WHCAFRCBST' 'WHGASKYENM']
['Central EMEA' 'West EMEA' 'US Southeast' 'US Central' 'US West'
 'East EMEA' 'PRC']
['WHNLAMS' 'FANLAMA' 'WHFIHEL' 'WHGBSL1' 'WHIEDU3' 'WHNLEEM' 'WHNLGR1'
 'WHNLGR2' 'WHNLWES' 'SOF02' 'PAR10' 'LHR35' 'MIL04' 'AMS15' 'ARN09'
 'WHIACB' 'WHCAFRE' 'WHORDAL' 'WHSCCHS' 'WHNCLN' 'WHOKPC' 'MIA05'
 'WHVASTG' 'LAX02' 'DEN02' 'JAX02' 'ORD30' 'LGA07' 'PDX06' 'DFW06' 'DFW08'
 'SLC01' 'SEA03' 'WHGASKY-WMS' 'WHVAST2' 'DCIACB' 'WHBEGH' 'WHGALS'
 'WHGAOAK' 'WHGASKY' 'RTQTCNSH' 'RTUGCAFR' 'GUSSVL07' 'GUSSVL11'
 'PPCAMTV1600' 'PPCAMTV1667' 'WHIASL' 'FACHCO' 'FAITSEA' 'LAX28'
 'GUSMTV06FM' 'FANLAMCB' 'FAGBLNCB' 'FADEBECB' 'FAITMICB' 'FABUSOCB'
 'FADNCOCB' 'FAFRPACB' 'FAPOWSCB' 'FASPMACB' 'FAASVICB' 'GOGBLNCY'
 'WHFIHE2' 'SPECTRALOGRMANA' 'FACASF' 'AUS123' 'CLT103' 'LAX101' 'WHGASDE'
 'WHMOKCA' 'WHNCCH1' 'WHNCRDU' 'FAUKLPA' 'CMNEWUT' 'FACNONCB' 'FAUSCACB'
 'CMFOLOR' 'CMICHOR' 'FACNONCBS' 'FAUSCACBS' 'GOCAMTVCB' 'LGA15' 'CMOPTM'
 'FACHZUA' 'CMAKSOL' 'CMQTCNSH' 'PZEN001' 'WHTXAUA' 'TUL15' 'GGBLON15'
 'GUSATW02' 'GUSIRV03' 'GUSKIR04' 'GUSNYC06' 'GUSPIT01' 'GUSRES02'
 'GUSSFO01' 'GUSSSF02' 'GUSSUR01' 'GUSVEN01' 'CMTEWI1' 'AVPA1' 'GUSDU01'
 'GCHZRH03' 'GUSARB05' 'GUSBOT01' 'GUSCAM07' 'GUSCBF01' 'GUSCHA02'
 'GUSDAL06' 'GUSLAX03' 'GUSNYC03' 'GUSNYC04' 'GUSPLE01' 'GUSRES03'
 'GUSSAT01' 'GUSSBO03' 'GUSSDI03' 'GUSSEA02' 'GUSSEA03' 'GUSSEA05'
 'GUSSFO04' 'GUSWAS03' 'LGA35' 'ORD36' 'IAD21' 'CMARSNC' 'DCGALS'
 'DCORDAL' 'GUSKAN03' 'WHTZCOP' 'LAX16' 'LAX17' 'LAX29' 'PEK06' 'SHA08'
 'DEN01' 'DEN03' 'MIA04' 'MIA06' 'MIA07' 'ATL01' 'ATL22' 'ATL26' 'HKG08'
 'ORD12' 'ORD31' 'ORD35' 'ORD38' 'LGA34' 'LGA26' 'CLE02' 'OTH02' 'DFW25'
 'IAD26' 'IAD30' 'SEA09' 'SEA15' 'DEN09' 'DCDEFR1' 'LAX04' 'GUSMTV22'
 'WHNLDGL' 'FANCRA' 'FATNNA' 'FATXAU' 'NOPGA03' 'NOPNC01' 'NOPNC02'
 'WHCAFR1' 'WHTNBNA' 'WHCASJ1' 'WHILCH1' 'WHORPO1' 'CBF01' 'CBF02' 'CBF14'
 'CBF16' 'CBF20' 'MRN01' 'MRN02' 'TUL01' 'TUL13' 'TUL17' 'DLS01' 'DLS03'
 'CHS02' 'CHS03' 'INFINERA_RMA_US' 'GUSALA02' 'CMULIL1' 'SFO07' 'GCHZRH09'
 'GUSMTV54' 'NUQ04' 'SFO03' 'SJC07' 'SQL01' 'SQL07' 'PEK11' 'PEK12'
 'BOS06' 'BLM03' 'BLM05' 'LGA10' 'LPR01' 'CHS18' 'DFW03' 'IAD24' 'IAD31'
 'IAD32' 'IAD33' 'PPCAMTVCL4' 'PPCAMTV1230' 'RTIVCNS' 'RTKNCAFV'
 'HITACHI_RMA_NA' 'SEAGATE_RMA_NA' 'LGCHEMICALRMAMI' 'TYCO_RMA_NA'
 'ELTEK_RMA_NA' 'ELTEK_RMA_TX' 'ORACLE_RMA_NA' 'INVENTEC_RMA_CN' 'FRA15'
 'FRA16' 'AMS16' 'GDEBER02' 'GDEFRA02' 'GDEMUC07' 'GDKAAR01' 'GFRPAR04'
 'GGBLON02' 'GGBLON09' 'GGBLON10' 'GGBLON14' 'GGRATH02' 'GHRZAR02'
 'GHUBUD03' 'GPLWAW01' 'GPTLIS01' 'GROBUH01' 'GSESTO04' 'FRA07' 'LHR47'
 'ANR01' 'GRQ09' 'LEY03' 'RTM01' 'UTC01' 'CCGNTN1' 'CCMTUT1' 'CCNXGA1'
 'CCOTCA1' 'NITTX01' 'NITUT01' 'NITUT02' 'NLETN01' 'NOPGA02' 'LGA101'
 'SFO105' 'PSFO122' 'SEGAAT1' 'SENCCH1' 'SENCMO1' 'SETXAU1' 'SEUTPR1'
 'none' 'GOCAMVCY' 'FINISAR_RMA_NA' 'CUBEOPTICSRMADE' 'FACHZUCB'
 'FAIEDBCB' 'WHDESC1' 'CIENA_RMA_HU' 'DCNLAM1' 'GDKCPH01' 'GIEDUB02'
 'GIEDUB06' 'GIEDUB13' 'GUSMTV66' 'WHGAFB1' 'PAR21' 'PRG03' 'MUC03'
 'PAR03' 'WAW02' 'LIS01' 'LHR22' 'GNLAMS01' 'CMARSNL' 'WHNLGRQ' 'ANR03'
 'LGG01' 'SOF01' 'BER01' 'BER03' 'BER07' 'BWE01' 'BWE02' 'DUS01' 'DUS04'
 'ESS02' 'EUM01' 'GUT01' 'HAJ02' 'HAJ03' 'HAM02' 'HAM04' 'HAM11' 'KEL01'
 'LBC01' 'MUC11' 'REB02' 'RGL01' 'SZW04' 'TXL01' 'TXL02' 'WBG01' 'AAR01'
 'CNL01' 'MRW01' 'RKE01' 'SKS01' 'VEJ01' 'TLL01' 'MAD06' 'MAD08' 'HEM03'
 'HYV01' 'HYV03' 'MHQ02' 'TKU01' 'TKU02' 'TKU03' 'TKU04' 'TMP02' 'UTI01'
 'UTI05' 'DNR03' 'HZB06' 'LAI01' 'MRS02' 'MRS03' 'PAR15' 'PAR22' 'BLK01'
 'CEG01' 'CEG02' 'EMA01' 'LGW01' 'LHR25' 'LHR26' 'LTN01' 'LYM01' 'MAN03'
 'MSE02' 'NQY01' 'ORM01' 'PLH01' 'SOU01' 'STN01' 'VLY01' 'YEO01' 'DUB09'
 'DUB20' 'AMS17' 'GLZ01' 'GRQ01' 'GRQ17' 'ARN05' 'ARN10' 'ARN11' 'BMA01'
 'GOT02' 'HMA01' 'NRK01' 'DCNLEEM' 'ALLEGHENYRMAPA' 'WHDERA1' 'DCORDL1'
 'CCAENC2' 'CCDYKS1' 'NITCA01' 'ATL103' 'ATL122' 'CBF101' 'DFW101'
 'MCI101' 'MCI102' 'RDU103' 'SFO104' 'SJC101' 'SLC101' 'FACHZUAS' 'WHCASF'
 'WHILCRL' 'WHEXPHK' 'WHIEDUB' 'AVAGO_RMA_TX' 'CIENA_RMA_TN'
 'ARISTA_RMA_CA' 'CISCO_RMA_TX2' 'FUJITSU_RMA_CA' 'GRAYBAR_RMA_GA'
 'JUNIPER_RMA_TX' 'AFL_RMA_SC' 'KAIAM_RMA_CA' 'OPLINK_RMA_NA'
 'FINISAR_RMA_NA2' 'INNOLIGHT_RMA_CN' 'INNOLIGHTRMANA' 'SYD09' 'GRU06'
 'HKG07' 'HKG12' 'NRT12' 'YYZ06' 'RMITRCANW' 'RMSMAUSHU' 'RMCNEUSMA'
 'WHCAMIR' 'RTIQTXM' 'CCBLUMO2' 'GOGBLNAE' 'CIENA_RMA_NL' 'ALCATEL_RMA_DE'
 'ALCATEL_RMA_FR' 'ANIXTER_RMA_BE' 'CORIANT_RMA_EU' 'QLOGIC_RMA_CA'
 'SEAGATERMAEUNL' 'FJR01' 'BUD02' 'RMATLGANO' 'RMITRCZBU' 'RMITRCZKL'
 'RMPCGNLVE' 'WHEXPUK' 'RTUGCA2' 'SEAGATE_RMA_CA' 'ELTEK_RMA_IL'
 'CLEARFIELDRMAUS' 'GOCAMVCBST' 'CMXPCAMTV']
['WHNLAMAM' 'FANLAMA' 'WHNLAMSO' 'WHFIHELP' 'WHGBSL1P' 'WHIEDU3P'
 'WHIEDU3W' 'WHNLAMSP' 'WHNLEEMP' 'WHNLGR1P' 'WHNLGR2P' 'WHNLWESP'
 'PPBGSOF02' 'PPFRPAR10' 'PPGBLHR35' 'PPITMIL04' 'PPNLAMS15' 'PPSEARN09'
 'WHNLAMSDC' 'WHNLAMSPX' 'WHNLAMSRK' 'WHIACBO' 'WHCAFREO' 'WHORDALO'
 'WHSCCHSO' 'WHIACBP' 'WHNCLNP' 'WHOKPCP' 'WHCAFREE' 'WHCAFREP' 'WHORDALP'
 'WHSCCHSP' 'PPFLMIA05' 'WHOKPCZ' 'WHCAFREZ' 'WHVASTGZ' 'PPCALAX02'
 'PPCODEN02' 'PPFLJAX02' 'PPILORD30' 'PPNYLGA07' 'PPORPDX06' 'PPTXDFW06'
 'PPTXDFW08' 'PPUTSLC01' 'PPWASEA03' 'WHCAFREW' 'WHGASKYO' 'WHVAST2O'
 'DCIACBP' 'WHBEGHP' 'WHGALSP' 'WHGAOAKP' 'WHGASKYP' 'WHOKPCDC' 'WHVAST2P'
 'RTQTCNSHP' 'RTUGCAFRP' 'WHCAFREPM' 'WHGASKYRK' 'WHSCCHSDC' 'GUSSVL07'
 'GUSSVL11' 'WHCAFREQ' 'GUSSVL07E' 'GUSSVL11E' 'WHGAOAKRK' 'PPCAMTV1600'
 'PPCAMTV1667' 'WHIASLP' 'WHIASLDC' 'WHORDALDC' 'FACHCOA' 'FAITSEA'
 'WHBEGHDC' 'PPCALAX28' 'WHFIHELDC' 'WHGASKYQ' 'GUSMTV06FM' 'FANLAMCB'
 'WHNLAMCBT' 'WHCAFRCBST' 'FAGBLNCB' 'FADEBECB' 'FAITMICB' 'WHNLAMCB'
 'FABUSOCB' 'FADNCOCB' 'FAFRPACB' 'FAPOWSCB' 'FASPMACB' 'WHNLAMCBS'
 'WHNLAMCBSC' 'FAASVICB' 'WHNLAMSAE' 'WHNLAMSCY' 'WHNLAMSAF' 'GOGBLNCY'
 'WHFIHE2DC' 'WHIEDU3DC' 'WHNLAMSPD' 'WHNLWESPD' 'WHNLAMSPM'
 'SPECTRALOGIC_RMA_NA' 'WHNLAMSSC' 'FACASFFO' 'PAUS123F' 'PCLT103F'
 'PLAX101F' 'WHGASDEF' 'WHMOKCAF' 'WHNCCH1F' 'WHNCRDUF' 'FAUKLPA'
 'CMNEWUT' 'FACNONCB' 'FAUSCACB' 'CMFOLORCB' 'CMICHORCB' 'FACNONCBS'
 'FAUSCACBS' 'GOCAMTVCB' 'PPNYLGA15' 'CMOPTMA' 'FACHZUA' 'WHNLAMA'
 'CMAKSOLA' 'WHNLAMAS' 'CMQTCNSHE' 'WHIACBF' 'PZEN001I' 'WHTXAUAF'
 'WHGASKYN' 'PPOKTUL15' 'WHBEGHO' 'WHFIHELO' 'WHNLEEMO' 'GGBLON15O'
 'GUSATW02O' 'GUSIRV03O' 'GUSKIR04O' 'GUSNYC06O' 'GUSPIT01O' 'GUSRES02O'
 'GUSSFO01O' 'GUSSSF02O' 'GUSSUR01O' 'GUSVEN01O' 'WHIASLE' 'CMTEWI1E'
 'CMQTCNSHP' 'RTAVPA1P' 'WHGALSO' 'WHNCLNW' 'WHOKPCW' 'GUSDU01W'
 'WHGASKYW' 'WHNLAMSW' 'WHVAST2W' 'GCHZRH03W' 'GUSARB05W' 'GUSBOT01W'
 'GUSCAM07W' 'GUSCBF01W' 'GUSCHA02W' 'GUSDAL06W' 'GUSKIR04W' 'GUSLAX03W'
 'GUSNYC03W' 'GUSNYC04W' 'GUSNYC06W' 'GUSPIT01W' 'GUSPLE01W' 'GUSRES02W'
 'GUSRES03W' 'GUSSAT01W' 'GUSSBO03W' 'GUSSDI03W' 'GUSSEA02W' 'GUSSEA03W'
 'GUSSEA05W' 'GUSSFO01W' 'GUSSFO04W' 'GUSSUR01W' 'GUSVEN01W' 'GUSWAS03W'
 'PNYLGA35N' 'PPILORD36' 'PPVAIAD21' 'WHNLAMSWM' 'CMARSNC' 'DCGALSZ'
 'WHGALSZ' 'WHIACBZ' 'WHIASLZ' 'WHNCLNZ' 'DCORDALZ' 'GGBLON15' 'GUSKAN03'
 'WHGASKYZ' 'WHNLAMSZ' 'WHORDALZ' 'WHSCCHSZ' 'WHTXCOPZ' 'WHVAST2Z'
 'PCALAX02Z' 'PCALAX16Z' 'PCALAX17Z' 'PCALAX28Z' 'PCALAX29Z' 'PCNPEK06Z'
 'PCNSHA08Z' 'PCODEN01Z' 'PCODEN02Z' 'PCODEN03Z' 'PFLJAX02Z' 'PFLMIA04Z'
 'PFLMIA06Z' 'PFLMIA07Z' 'PGAATL01Z' 'PGAATL22Z' 'PGAATL26Z' 'PHKHKG08Z'
 'PILORD12Z' 'PILORD30Z' 'PILORD31Z' 'PILORD35Z' 'PILORD36Z' 'PILORD38Z'
 'PNJLGA34Z' 'PNYLGA07Z' 'PNYLGA26Z' 'POHCLE02Z' 'POROTH02Z' 'PORPDX06Z'
 'PTXDFW06Z' 'PTXDFW25Z' 'PUTSLC01Z' 'PVAIAD26Z' 'PVAIAD30Z' 'PWASEA09Z'
 'PWASEA15Z' 'PPCODEN09' 'DCDEFR1G' 'WHNCLNDC' 'PPCALAX04' 'GUSMTV22'
 'WHIACBDC' 'WHNLDGLP' 'WHCAFREPL' 'FANCRAFD' 'FATNNAFD' 'FATNNAFO'
 'FATXAUFO' 'NOPGA03F' 'NOPNC01F' 'NOPNC02F' 'WHCAFR1F' 'WHTNBNAF'
 'WHNCCH1FB' 'WHIASLN' 'WHCASJ1N' 'WHILCH1N' 'WHNLAMSN' 'WHORPO1N'
 'PCALAX04N' 'PCALAX17N' 'PCODEN02N' 'PIACBF01N' 'PIACBF02N' 'PIACBF14N'
 'PIACBF16N' 'PIACBF20N' 'PILORD12N' 'PILORD31N' 'PILORD38N' 'PNCMRN01N'
 'PNCMRN02N' 'PNJLGA34N' 'POKTUL01N' 'POKTUL13N' 'POKTUL15N' 'POKTUL17N'
 'PORDLS01N' 'PORDLS03N' 'PPCODEN03' 'PSCCHS02N' 'PSCCHS03N' 'PTXDFW06N'
 'PVAIAD30N' 'PWASEA15N' 'INFINERA_RMA_US' 'WHOKPCO' 'GUSALA02O'
 'GUSCAM07O' 'CMAVPA1P' 'CMULIL1PP' 'PPCASFO07' 'GCHZRH09W' 'CMARSNCM'
 'GUSMTV54' 'PCANUQ04Z' 'PCASFO03Z' 'PCASJC07Z' 'PCASQL01Z' 'PCASQL07Z'
 'PCNPEK11Z' 'PCNPEK12Z' 'PMABOS06Z' 'PNJBLM03Z' 'PNJBLM05Z' 'PNYLGA10Z'
 'PNYLGA15Z' 'POHLPR01Z' 'PSCCHS18Z' 'PTXDFW03Z' 'PVAIAD24Z' 'PVAIAD31Z'
 'PVAIAD32Z' 'PVAIAD33Z' 'PPCAMTVCL4' 'PPCAMTV1230' 'WHGASKYDC'
 'WHNLGR2DC' 'RTIVCNSP' 'WHGALSPM' 'RTKNCAFVP' 'WHGASKYPM'
 'HITACHI_RMA_NA' 'SEAGATE_RMA_NA' 'LGCHEMICAL_RMA_MI' 'WHGALSSC'
 'WHGASKYSC' 'WHGAOAKPM' 'TYCO_RMA_NA' 'ELTEK_RMA_NA' 'ELTEK_RMA_TX'
 'ORACLE_RMA_NA' 'INVENTEC_RMA_CN' 'GCHZRH09O' 'PPDEFRA15' 'PPDEFRA16'
 'PPNLAMS16' 'WHNLAMSQ' 'WHBEGHW' 'WHNLGR1W' 'WHNLGR2W' 'GDEBER02W'
 'GDEFRA02W' 'GDEMUC07W' 'GDKAAR01W' 'GFRPAR04W' 'GGBLON02W' 'GGBLON09W'
 'GGBLON10W' 'GGBLON14W' 'GGBLON15W' 'GGRATH02W' 'GHRZAR02W' 'GHUBUD03W'
 'GPLWAW01W' 'GPTLIS01W' 'GROBUH01W' 'GSESTO04W' 'PPDEFRA07' 'PPGBLHR47'
 'WHBEGHZ' 'PBEANR01Z' 'PNLAMS15Z' 'PNLGRQ09Z' 'PNLLEY03Z' 'PNLRTM01Z'
 'PNLUTC01Z' 'CCGNTN1F' 'CCMTUT1F' 'CCNXGA1F' 'CCOTCA1F' 'FANCRAFO'
 'NITTX01F' 'NITUT01F' 'NITUT02F' 'NLETN01F' 'NOPGA02F' 'PLGA101F'
 'PSFO105F' 'PSFO122F' 'SEGAAT1F' 'SENCCH1F' 'SENCMO1F' 'SETXAU1F'
 'SEUTPR1F' 'OTNCCPEFA' 'WHGASDEFB' 'GOCAMVCY' 'WHNLGR1DC'
 'FINISAR_RMA_NA' 'CUBEOPTICS_RMA_DE' 'WHCAFREAM' 'FACHZUCB' 'FAIEDBCB'
 'WHDESC1N' 'CIENA_RMA_HU' 'DCNLAM1O' 'WHGBSL1O' 'WHNLGR1O' 'GDEMUC07O'
 'GDKCPH01O' 'GIEDUB02O' 'GIEDUB06O' 'GIEDUB13W' 'GUSMTV66' 'WHGAFB1P'
 'PFRPAR21G' 'PPCZPRG03' 'PPDEMUC03' 'PPFRPAR03' 'PPFRPAR21' 'PPPLWAW02'
 'PPPTLIS01' 'PPUKLHR22' 'DCNLAM1W' 'GNLAMS01W' 'CMARSNL' 'CMARSNLM'
 'WHFIHELZ' 'WHGBSL1Z' 'WHIEDU3Z' 'WHNLGR1Z' 'WHNLGR2Z' 'WHNLGRQZ'
 'PBEANR03Z' 'PBELGG01Z' 'PBGSOF01Z' 'PBGSOF02Z' 'PCZPRG03Z' 'PDEBER01Z'
 'PDEBER03Z' 'PDEBER07Z' 'PDEBWE01Z' 'PDEBWE02Z' 'PDEDUS01Z' 'PDEDUS04Z'
 'PDEESS02Z' 'PDEEUM01Z' 'PDEFRA15Z' 'PDEFRA16Z' 'PDEGUT01Z' 'PDEHAJ02Z'
 'PDEHAJ03Z' 'PDEHAM02Z' 'PDEHAM04Z' 'PDEHAM11Z' 'PDEKEL01Z' 'PDELBC01Z'
 'PDEMUC03Z' 'PDEMUC11Z' 'PDEREB02Z' 'PDERGL01Z' 'PDESZW04Z' 'PDETXL01Z'
 'PDETXL02Z' 'PDEWBG01Z' 'PDKAAR01Z' 'PDKCNL01Z' 'PDKMRW01Z' 'PDKRKE01Z'
 'PDKSKS01Z' 'PDKVEJ01Z' 'PEETLL01Z' 'PESMAD06Z' 'PESMAD08Z' 'PFIHEM03Z'
 'PFIHYV01Z' 'PFIHYV03Z' 'PFIMHQ02Z' 'PFITKU01Z' 'PFITKU02Z' 'PFITKU03Z'
 'PFITKU04Z' 'PFITMP02Z' 'PFIUTI01Z' 'PFIUTI05Z' 'PFRDNR03Z' 'PFRHZB06Z'
 'PFRLAI01Z' 'PFRMRS02Z' 'PFRMRS03Z' 'PFRPAR03Z' 'PFRPAR15Z' 'PFRPAR21Z'
 'PFRPAR22Z' 'PGBBLK01Z' 'PGBCEG01Z' 'PGBCEG02Z' 'PGBEMA01Z' 'PGBLGW01Z'
 'PGBLHR25Z' 'PGBLHR26Z' 'PGBLHR35Z' 'PGBLTN01Z' 'PGBLYM01Z' 'PGBMAN03Z'
 'PGBMSE02Z' 'PGBNQY01Z' 'PGBORM01Z' 'PGBPLH01Z' 'PGBSOU01Z' 'PGBSTN01Z'
 'PGBVLY01Z' 'PGBYEO01Z' 'PIEDUB09Z' 'PIEDUB20Z' 'PITMIL04Z' 'PNLAMS16Z'
 'PNLAMS17Z' 'PNLGLZ01Z' 'PNLGRQ01Z' 'PNLGRQ17Z' 'PPLWAW02Z' 'PSEARN05Z'
 'PSEARN09Z' 'PSEARN10Z' 'PSEARN11Z' 'PSEBMA01Z' 'PSEGOT02Z' 'PSEHMA01Z'
 'PSENRK01Z' 'WHIEDU3O' 'DCNLEEMOT' 'ALLEGHENY_RMA_PA' 'WHDERA1P'
 'PPESMAD06' 'DCORDALP' 'DCORDL1P' 'WHGAOAKQ' 'WHIASLQ' 'WHGALSRK'
 'CCAENC2F' 'CCDYKS1F' 'NITCA01F' 'PATL103F' 'PATL122F' 'PCBF101F'
 'PDFW101F' 'PMCI101F' 'PMCI102F' 'PRDU103F' 'PSFO104F' 'PSJC101F'
 'PSLC101F' 'WHMOKCAFB' 'WHTNBNAFB' 'PNCRDU103F' 'WHCAFRCBM' 'FACHZUAS'
 'WHCASFO2A' 'WHILCRL2A' 'WHEXPHKA' 'WHILCRLA' 'WHIEDUBEN' 'AVAGO_RMA_TX'
 'CIENA_RMA_TN' 'ARISTA_RMA_CA' 'CISCO_RMA_TX2' 'FUJITSU_RMA_CA'
 'GRAYBAR_RMA_GA' 'JUNIPER_RMA_TX' 'AFL_RMA_SC' 'KAIAM_RMA_CA'
 'OPLINK_RMA_NA' 'FINISAR_RMA_NA2' 'INNOLIGHT_RMA_CN' 'INNOLIGHT_RMA_NA'
 'PAUSYD09G' 'PBRGRU06G' 'PHKHKG07G' 'PHKHKG12G' 'PJPNRT12G' 'PONYYZ06G'
 'RMITRCANW' 'RMSMAUSHU' 'RMCNEUSMA' 'WHCAMIRA' 'RTIQTXMA' 'WHCAMIR2A'
 'CCBLUMO2F' 'WHNCRDUFB' 'WHTXAUAFB' 'GOGBLNAE' 'CIENA_RMA_NL'
 'ALCATEL_RMA_DE' 'ALCATEL_RMA_FR' 'ANIXTER_RMA_BE' 'CORIANT_RMA_EU'
 'QLOGIC_RMA_CA' 'SEAGATE_RMA_EU_NL' 'PAEFJR01G' 'PDEFRA15G' 'PDEFRA16G'
 'PESMAD06G' 'PFRPAR10G' 'PGBLHR25G' 'PGBLHR35G' 'PITMIL04G' 'PNLAMS15G'
 'PNLAMS16G' 'PPHUBUD02' 'PPLWAW02G' 'PSEARN09G' 'RMATLGANO' 'RMITRCZBU'
 'RMITRCZKL' 'RMPCGNLVE' 'WHNLWESSC' 'WHEXPUK2A' 'WHEXPUK3A' 'WHGAFB1PD'
 'WHGASKYPD' 'RTUGCA2P' 'SEAGATE_RMA_CA' 'ELTEK_RMA_IL' 'WHMOKCAFQ'
 'CLEARFIELD_RMA_US' 'GOCAMVCBST' 'XPMRB']
['Central EMEA' 'West EMEA' 'East EMEA' 'US Central' 'US West'
 'US Southeast' 'US SouthEast' 'US Northeast' 'US NorthEast' 'PRC' nan]
[  1   3   2   6   5   4   7  10   9   8  17  29  13  25  19  31  15  11
  16  21  12  18  23  20  34  14  24  45  54  48  36  37  27  30  28  26
  38  53  33  58  51  59  22  40  42  43  35  32  47  56  44  39  41  64
  71  75  46  52  60  50  49  61  63  62  55  65  74  80  81  67  86  84
  66  73  68  82  78  76  99  93  96  91  97  90  94  79  92  83  89  57
  69 145 127 130 147 153  88 144 120 123  70  72 152 114 121 105 117 149
 154 116 103 111  85 118  77]
['87001081-02' '87001081-01-R' '57000581-02' ... '07060182' '07108249-R'
 '07060326-R']
[     1      2     12      3      4   6200    140     20     50      8
      5     80     60      6    100     10    160     17     40      9
     26     14     18     11    150    270     13      7     22    200
     24    107     33     31    590     23     79     44     29    120
     85    126     15    650    163    399     61    310     46   1600
     30     66     32     19     42    330  10598    102     72     83
     16     56    192    288    420     58     65    576   1050    539
    241    210    840    440     64   5000    400     25     34     62
     74     49    280     36   1260    800    600     53     21     28
   3000     51    569     43     45    783    233     89     47     35
    108    376    550     38     86     57    700    500   4500     52
     68   1417     87    143     81     69    132    302    130     27
     76     39    135     91   3200   3100   2300   3562   1000     97
    173    300     84   1080    391     94    128     48    480     70
    224    205    927   1300   1200    110    180     88     54     75
    158    208    176    148    112    118    144    257   4880   1180
   2360   2800    360   2380    188   5040    666   3080   1220   3434
   1100    240    220    584   1355    980    175    559     71     92
   5630    521    190   7095     78    146    290    231     63     90
    250     96    228    105    318    114    640    370    460   6215
   4959   2212    348    170   1105    594    230     93    490    315
   9000   2200    301    832   2715    660   7360   1575    350  15360
   1800    136   1500   6165    123    260    402   3300    172    314
    750     59     82   1252    141  18000  15000  33000    145    207
    246    124    900    161    540    434    822    741   9600    225
  13424  10944    155    340    320    104    168    156    181    115
    316   2155   3360    380    810    960    324    106     67    366
    234   1650   6700    182   9324    461    836     77    266    186
    196     37  15652     41    644   4000    470    127   3040    702
    274    264    432   8860    308     73    426  11200  14000    901
    216    384     55    268    165    962    111  17420  13879    780
   4045    488    792    450    232    405    560    528    282    122
    237   1060    116    614    377    242    129    312    796    276
    667    328  10080    117    166    204   5120   2559   2520    295
    194    138    195   1364    611    236    427    466    520   2006
    753    133    387   2000    838   2208    411  23926  11640   9828
  19200 144000  74088    860   8988  11000  20400   3070    608  42110
  48888  10336  21450  26000  54960  10988  21141  62880  11218   2896
   3750   1070  11282 172800  11760   5490  10416   1040    162  15480
  14399   7879  57300   4634  25320   4800   5012  54800  20290    414
   1113    309    253    416    525     99    184    680    712   1655
   4227   1404   1730    510    707    651  10000    152    189  19000
   4600   8645    668  25105   2603   4151    782   2491    374     95
   1870    355]
[     1      2     12      3      4   6200    140     20     50      8
      5     80     60      6    100     10    160     17     40      9
     26     14     18     11    150    270     13      7     22    200
     24    107     33     31    590     23     79     44     29    120
     85    126     15    650    163    399     61    310     46   1600
     30     66     32     19     42    330  10598    102     72     83
     16     56    192    288    420     58     65    576   1050    539
    241    210    840    440     64   5000    400     25     34     62
     74     49    280     36   1260    800    600     53     21     28
   3000     51    569     43     45    783    233     89     47     35
    108    376    550     38     86     57    700    500   4500     52
     68   1417     87    143     81     69    132    302    130     27
     76     39    135     91   3200   3100   2300   3562   1000     97

In [ ]:
# Return all of the possible entries for "FromWarehouse"
# 66 Unique Elements in From Warehouse column
# dataframe['FromWarehouse'].unique().tolist()
dataframe['FromWarehouse'].unique()

array(['FACHCO', 'FAHUBUA', 'FAITSEA', 'FANLAMA', 'FAUKLPA', 'WHBEGH',
       'WHGALS', 'WHIACB', 'WHIASL', 'WHNCLN', 'WHNLAMS', 'WHOKPC',
       'CMCLCAO', 'FAASVICB', 'FACHZUCB', 'FACNONCB', 'FADEBECB',
       'FADNCOCB', 'FAFRPACB', 'FAGBLNCB', 'FAITMICB', 'FAJOAMCB',
       'FANLAMCB', 'FAPOWSCB', 'FASPMACB', 'FATKIS', 'FAUSCACB',
       'GOGBLNAE', 'GOGBLNCY', 'WHCAFR1', 'WHCAFRE', 'WHCAFRE-WMS',
       'WHCODE1', 'WHDERA1', 'WHFIHEL', 'WHGAOAK', 'WHGASDE', 'WHGASKY',
       'WHGASKY-WMS', 'WHIEDU3', 'WHMOKCA', 'WHNCCH1', 'WHNCRDU',
       'WHNLDGL', 'WHNLEEM', 'WHNLGR1', 'WHNLGR2', 'WHNLGRQ', 'WHNLWES',
       'WHORDAL', 'WHSCCHS', 'WHTNBNA', 'WHTXAUA', 'WHVAST2', 'CMQTCNSH',
       'DCNLEEM', 'FACNONCBS', 'FAUSCACBS', 'GOCAMTVCB', 'RTQTCNSH',
       'WHCAMIR', 'WHILCRL', 'WHINPLF', 'WHNLTIL', 'WHUTREB',
       'GOCAMVCBST'], dtype=object)

In [ ]:
# Return FIRST instance of every entry in "From Warehouse" by dropping duplicates
dataframe.FromWarehouse.drop_duplicates()

0            FACHCO
1           FAHUBUA
2           FAITSEA
3           FANLAMA
5           FAUKLPA
            ...
14760       WHILCRL
14766       WHINPLF
15644       WHNLTIL
15990       WHUTREB
15994    GOCAMVCBST
Name: FromWarehouse, Length: 66, dtype: object

In [ ]:
# Return count for all entries in every possible category within "From Warehouse"
dataframe.FromWarehouse.value_counts()

WHNLAMS      3696
WHGASKY      2110
WHNLWES      1171
WHCAFRE       961
WHFIHEL       849
             ...
FACNONCBS       1
RTQTCNSH        1
WHNCCH1         1
FAFRPACB        1
FAITSEA         1
Name: FromWarehouse, Length: 66, dtype: int64

In [ ]:
# Return a descriptive summary about the dataframe (frequency of top variables*)
dataframe.describe(include = object)

        MoveOrderNumber  ...  ShipmentDeliveryUTC
count             16000  ...                16000
unique             9630  ...                 5018
top     MORSC8712300606  ...  2016-11-28 14:00:00
freq                 42  ...                   88

[4 rows x 12 columns]

In [ ]:
# View the descriptive summary of all rows missing data
null_data.describe(include = object)

        MoveOrderNumber  ...  ShipmentDeliveryUTC
count               320  ...                  320
unique               68  ...                   56
top     MORSC8723276794  ...  2016-11-16 04:00:00
freq                 16  ...                   25

[4 rows x 12 columns]

In [ ]:
# Display pairwise columns that are correlated
dataframe.corr()

                       LineNumber  LineRequestedQuantity  LineShippedQuantity
LineNumber               1.000000              -0.029280            -0.033007
LineRequestedQuantity   -0.029280               1.000000             0.967022
LineShippedQuantity     -0.033007               0.967022             1.000000

In [ ]:
# Check for a pattern in missing data (pairwise correlation)
null_data.corr()

                       LineNumber  LineRequestedQuantity  LineShippedQuantity
LineNumber               1.000000              -0.094032            -0.094032
LineRequestedQuantity   -0.094032               1.000000             1.000000
LineShippedQuantity     -0.094032               1.000000             1.000000

# *Data Cleaning*
Objective: Converting and Imputing Variables for Modeling & Visualization

In [ ]:
# Convert text strings to datetime data type
dataframe['FirstShipmentDate'] = pd.to_datetime(dataframe['FirstShipmentDate'])
dataframe['ShipmentDeliveryUTC'] = pd.to_datetime(dataframe['ShipmentDeliveryUTC'])
dataframe.dtypes

MoveOrderNumber                  object
FromIntendedUseForLoc            object
ToIntendedUseForLoc              object
FromWarehouse                    object
FromLocation                     object
FromRegion                       object
ToWarehouse                      object
TOLocation                       object
ToRegion                         object
LineNumber                        int64
LineGPN                          object
LineRequestedQuantity             int64
LineShippedQuantity               int64
FirstShipmentDate        datetime64[ns]
ShipmentDeliveryUTC      datetime64[ns]
dtype: object

In [ ]:
# NEXT STEPS ----->
# Drop rows with missing values
# Create new_df (dataframe without rows containing missing entries)
# Convert DatetimeIndex to PeriodIndex with the to_period() function with the 
# addition of a frequency code (daily, hourly, etc)
# Create new TimedeltaIndex by subtracing one date from another (ex column with : 1 day, 2 days, etc)
# Break up into time chunks using .date_range()